<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ base_url }}/assets/css/main.css"/>
	</head>
	<body class="{{ body_class }}">
		<a href="#main" class="sr">Skip to content</a>

		{% if flash_messages is not empty %}
			<div class="container">
				{% for message in flash_messages %}
					<div class="alert alert-{{ message.type }}" role="alert">
						{{ message.body|raw }}
					</div>
				{% endfor %}
			</div>
		{% endif %}

		<header id="header">
			{% block header %}{% endblock %}
		</header>

		<main id="main">
			{% block body %}{% endblock %}
		</main>

		<footer id="footer">
			{% block footer %}{% endblock %}
		</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ base_url }}/assets/js/main.js"></script>
		{% block scripts %}{% endblock %}
		{% if dev %}
			<script id="__bs_script__">//<![CDATA[
				document.write("<script async src='http://localhost:3000/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>");
				//]]></script>
		{% endif %}
	</body>
</html>
