{% extends "admin-base.twig" %}

{% block title %}Admin - {{ settings.site_name }}{% endblock %}

{% block body %}
    <div id="wrapper">
        <admin-sidebar></admin-sidebar>

        <div class="tab-panes">
            <flash-messages :messages="{{ flash_messages|json_encode }}"></flash-messages>

            <users-list :roles="{{ roles|json_encode }}" :settings="{{ settings|json_encode }}"></users-list>
            <settings-form :settings="{{ settings|json_encode }}" :timezones="{{ all_timezones|json_encode }}"></settings-form>
        </div>
    </div>
{% endblock %}
