<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body class="{{ body_class }}">
		<div id="app">
			<a href="#main" class="sr">Skip to content</a>

			{% if flash_messages is not empty %}
				<section class="container">
					{% for message in flash_messages %}
						<div class="alert alert-{{ message.type }}" role="alert">
							{{ message.body|raw }}
						</div>
					{% endfor %}
				</section>
			{% endif %}

			<page-header
				:site_name="{{ site_name|json_encode }}"
				:site_tagline="{{ site_tagline|json_encode }}"
				:user="{{ curruser|json_encode }}">
			</page-header>

			<main id="main">
				{% block body %}{% endblock %}
			</main>

			<footer id="footer">
				{% block footer %}{% endblock %}
			</footer>
		</div>

		<script type="module" src="{{ assets_url }}/js/app.js"></script>
		<script nomodule src="{{ assets_url }}/js/app-legacy.js"></script>
		<script type="module" src="{{ assets_url }}/js/chunk-vendors.js"></script>
		<script nomodule src="{{ assets_url }}/js/chunk-vendors-legacy.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
